html, body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
    box-sizing: border-box;
}

body {
    color: #7d91b4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 375px;
    background-color: hsl(217, 54%, 11%);
    height: 100%;
    width: 100%;
    margin: auto;
}

#container {
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    max-width: 75%;
    border-radius: 15px;
    box-shadow: 10px 20px 50px 1px;
    
}

#container .cube .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    border-radius: 15px;
    
}

.overlay:hover {
    background-color: hsl(178, 100%, 50%);
    opacity: 0.7;
    background-image: url(icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.cube img{
    max-width: 100%;
    border-radius: 15px;
}

.cube {
    position: relative;
}



.cube:hover {
    cursor: pointer;
    background-image: url('icon-view.svg');
}




.name {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    transition: all 0.2s;
}

.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    font-size: 0.9rem;
    font-weight: 200;
}

.pricingtime {
    font-size: 0.9rem;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.price {
    color: hsl(178, 100%, 50%);
}

.time {
    float: right;
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    width: 15%;
    margin-top: 5px;
}

.author {
    text-align: left;
    display: inline-block;
}

.creator {
    font-size: 0.9rem;
    float: right;
    margin-right: 40px;
}

.jules {
    color: white;
    transition: all 0.2s;
}

.jules:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}